.buttonItem {
    background-color: #f5f7f8;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #eeeff6 !important;
    border-radius: 20px;
    margin: 3px;
    transition: 0.3s;
}

.buttonItem:hover {
    transition: 0.3s;
}
